@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

.nav {
  width: 100%;
  height: 65px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.11);
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  flex-direction: row;
  padding: 0 2rem;
}
.nav .menuBar {
  display: flex;
}
.nav .menuBar i {
  font-size: 1.4rem;
}
.nav .logo {
  width: 110px;
}
@media (min-width: 1000px) {
  .nav .menuBar {
    display: none;
  }
  .nav .logo {
    width: 140px;
  }
}
.nav ul {
  align-items: center;
  gap: 2rem;
  display: none;
}
@media (min-width: 1000px) {
  .nav ul {
    display: flex;
  }
}
.nav ul li a {
  text-transform: capitalize;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.nav ul li a:hover {
  color: #1e72bc;
}
.nav ul button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #1e72bc;
  padding: 0.6rem 0.8rem;
  border: 1px solid #1e72bc;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.nav ul button:hover {
  background-color: transparent;
  border-color: #1e72bc;
  color: #1e72bc;
}

.mobile_toggle_nav {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0px;
  flex-direction: row;
  background-color: #1e72bc;
  position: fixed;
  top: 4rem;
  right: 200%;
  z-index: 999;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1000px) {
  .mobile_toggle_nav {
    display: none;
  }
}
.mobile_toggle_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 3rem;
}
.mobile_toggle_nav ul li {
  text-transform: capitalize;
}
.mobile_toggle_nav ul li a {
  color: #fff;
}
.mobile_toggle_nav ul button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #0aceb1;
  padding: 0.6rem 0.8rem;
  border: 1px solid #0aceb1;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.toggle {
  right: 0;
}

.hero_section {
  width: 100%;
  position: relative;
  max-width: 1400px;
  margin: auto;
  flex-direction: column;
  background-image: url("../assets/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding: 0 2rem;
}
@media (min-width: 1000px) {
  .hero_section {
    display: flex;
    align-items: center;
    justify-content: justify-between;
    gap: 0px;
    flex-direction: row;
  }
}
.hero_section .left_side {
  width: 100%;
  color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .hero_section .left_side {
    width: 70%;
  }
}
.hero_section .left_side h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 2rem;
}
@media (min-width: 1000px) {
  .hero_section .left_side h2 {
    font-size: 3rem;
    text-transform: capitalize;
  }
}
.hero_section .left_side p {
  font-size: 0.9rem;
}
.hero_section .left_side button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  padding: 0.6rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}
.hero_section .left_side button:hover {
  background-color: transparent;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.hero_section .right_side img {
  width: 100%;
  margin-top: 60px;
}
@media (min-width: 1000px) {
  .hero_section .right_side img {
    width: 160%;
    margin-top: 100px;
  }
}

.about_section {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.about_section h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #1e72bc 0%, #0aceb1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_section p {
  font-size: 0.9rem;
}
.about_section img {
  width: 200px;
  opacity: 40%;
}
.about_section .flex_first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .about_section .flex_first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
  }
}
.about_section .flex_first .left {
  width: 100%;
  text-transform: capitalize;
}
@media (min-width: 1000px) {
  .about_section .flex_first .left {
    width: 45%;
  }
}
.about_section .flex_first .right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-direction: row;
}
.about_section .flex_second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
  text-transform: capitalize;
  text-align: start;
}
@media (min-width: 1000px) {
  .about_section .flex_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .about_section .flex_second {
    text-align: end;
  }
}
.about_section .flex_second .right {
  width: 100%;
}
@media (min-width: 1000px) {
  .about_section .flex_second .right {
    width: 45%;
  }
}
.about_section .flex_second .right h2 {
  font-size: 1.6rem;
  font-weight: bold;
  background: linear-gradient(to left, #1e72bc 0%, #0aceb1 100%);
  margin-bottom: 0.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_section .flex_second .right p {
  font-size: 0.9rem;
}
.about_section .flex_second .left {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-direction: row;
}
.about_section .flex_third {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  text-transform: capitalize;
}
@media (min-width: 1000px) {
  .about_section .flex_third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
  }
}
.about_section .flex_third .left {
  width: 100%;
}
@media (min-width: 1000px) {
  .about_section .flex_third .left {
    width: 45%;
  }
}
.about_section .flex_third .right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-direction: row;
}

.service_section {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  background-image: url("../assets/bg_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-direction: column;
  padding: 8rem 2rem;
}
@media (min-width: 1000px) {
  .service_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
  }
}
.service_section .card {
  width: 300px;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  position: relative;
  padding: 4rem 2rem 1rem 2rem;
}
.service_section .card img {
  width: 100px;
  position: absolute;
  top: -20%;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.205);
}
.service_section .card h2 {
  text-transform: capitalize;
}
.service_section .card p {
  text-align: center;
}
.service_section .card button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #1e72bc;
  padding: 0.6rem 0.8rem;
  border: 1px solid #1e72bc;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.service_section .card button:hover {
  background-color: transparent;
  border-color: #1e72bc;
  color: #1e72bc;
}
.service_section .top_layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
}
.service_section .bottom_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
}

.feature_section {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  padding: 0 2rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
@media (min-width: 1000px) {
  .feature_section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
  }
}
.feature_section .left {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 4rem;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .feature_section .left {
    width: 65%;
  }
}
.feature_section .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
@media (min-width: 430px) {
  .feature_section .flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    gap: 50px;
  }
}

/*  */

@media (min-width: 1000px) {
  .feature_section .flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 80px;
    flex-direction: row;
  }
}
.feature_section .flex .flex_left,
.feature_section .flex .flex_right {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: row;
  border-bottom: 1px solid rgba(131, 131, 131, 0.5333333333);
  padding-bottom: 1rem;
}
.feature_section .flex .flex_left .icon,
.feature_section .flex .flex_right .icon {
  padding: 20px;
  border: 2px solid #0aceb1;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.feature_section .flex .flex_left .icon i,
.feature_section .flex .flex_right .icon i {
  width: 45px;
  font-size: 40px;
  color: #0aceb1;
}
.feature_section .flex .flex_left .icon:hover,
.feature_section .flex .flex_right .icon:hover {
  background-color: #1e72bc;
  border-color: #1e72bc;
  color: #fff;
}
.feature_section .flex .flex_left h2,
.feature_section .flex .flex_right h2 {
  font-size: 1rem;
  text-transform: capitalize;
}
.feature_section .flex .flex_left p,
.feature_section .flex .flex_right p {
  font-size: 0.8rem;
}

.header_text {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.5rem;
}
.header_text span {
  color: #1e72bc;
}

.divider {
  width: 70px;
  height: 2px;
  background-color: rgba(131, 131, 131, 0.5333333333);
  margin: auto;
  margin-top: 0.7rem;
}

.header_divider .header_text {
  margin-top: 0rem;
  color: #fff;
  font-size: 2rem;
  font-weight: semibold;
}
.header_divider .divider {
  background-color: #fff;
}

.easy_step {
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 8rem;
}
.easy_step .easy_step_flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
}
@media (min-width: 430px) {
  .easy_step .easy_step_flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1000px) {
  .easy_step .easy_step_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: row;
    width: 80%;
  }
}
.easy_step .easy_step_flex .easy_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.easy_step .easy_step_flex .easy_card i {
  font-size: 2rem;
}
.easy_step .easy_step_flex .easy_card h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
}

.table_price {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  padding: 0 2rem;
  max-width: 1400px;
  margin: auto;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media (min-width: 430px) {
  .table_price {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .table_price {
    grid-template-columns: repeat(3, 1fr);
  }
}
.table_price .price_card {
  border: 1px solid #dddcdc;
  padding: 0.6rem;
}
.table_price .price_card .plan_name1 {
  width: 100%;
  background-color: #0aceb1;
  color: #fff;
  padding: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.table_price .price_card .plan_name2 {
  width: 100%;
  background-color: #1e72bc;
  color: #fff;
  padding: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.table_price .price_card .plan_price {
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  color: #1e72bc;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.table_price .price_card .plan_price h3 {
  font-size: 2rem;
}
.table_price .price_card .plan_body {
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 1.5rem;
}
.table_price .price_card .plan_body .btn1 {
  background-color: #1e72bc;
  padding: 0.6rem 0.8rem;
  border: 1px solid #1e72bc;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}
.table_price .price_card .plan_body .btn2 {
  background-color: #0aceb1;
  padding: 0.6rem 0.8rem;
  border: 1px solid #0aceb1;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}

.contact_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1400px;
  margin: auto;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
@media (min-width: 1000px) {
  .contact_section {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact_section .maps iframe {
  width: 100%;
  height: 450px;
}
@media (min-width: 1000px) {
  .contact_section .maps iframe {
    height: 100%;
  }
}
.contact_section .contact_form {
  background-color: #1e72bc;
  padding: 2rem;
  color: #fff;
}
@media (min-width: 1000px) {
  .contact_section .contact_form {
    padding: 3rem 5rem;
  }
}
.contact_section .contact_form h1 {
  font-size: 2rem;
  font-weight: 600;
}
.contact_section .contact_form .form_divider {
  width: 70px;
  height: 3px;
  margin-top: 0.3rem;
  background-color: #fff;
}
.contact_section .contact_form p {
  margin-top: 2rem;
}
.contact_section .contact_form form {
  width: 100%;
  margin-top: 1rem;
}
.contact_section .contact_form form input {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.8rem;
  outline: 1px solid #1e72bc;
  border: none;
  border-radius: 2px;
}
.contact_section .contact_form form textarea {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.8rem;
  border-radius: 2px;
  border: none;
  outline: 1px solid #1e72bc;
}
.contact_section .contact_form form button {
  background-color: #0aceb1;
  padding: 0.6rem 0.8rem;
  border: 1px solid #0aceb1;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0.8rem;
  cursor: pointer;
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 430px) {
  .footer_section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .footer_section {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer_section .section1 {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}
.footer_section .section1 img {
  width: 140px;
  cursor: pointer;
}
.footer_section .section1 p {
  font-size: 0.9rem;
}
.footer_section .section2 {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}
.footer_section .section2 span {
  font-weight: 600;
}
.footer_section .section2 p {
  font-size: 0.9rem;
}
.footer_section .section3 {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 40px;
  flex-direction: column;
}
.footer_section .section3 p {
  font-weight: 800;
}
.footer_section .section3 p i {
  margin-right: 0.4rem;
}
.footer_section .section4 {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}
.footer_section .section4 .blog_card {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
}
.footer_section .section4 .blog_card img {
  width: 80px;
}
.footer_section .section4 .blog_card p {
  font-size: 0.9rem;
  margin-top: 0.4rem;
}
.footer_section .section4 .blog_card span {
  font-weight: 800;
  font-size: 0.9rem;
}

.active {
  color: #1e72bc;
}

.page_header_name {
  width: 100%;
  height: 300px;
  background: url("../assets/slide1.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
  max-width: 1400px;
  margin: auto;
}
.page_header_name h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 5rem 4rem;
}

.screenshot {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1400px;
  margin: auto;
  margin-bottom: 8rem;
  margin-top: 4rem;
}
@media (min-width: 430px) {
  .screenshot {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .screenshot {
    grid-template-columns: repeat(4, 1fr);
  }
}

.our_team {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
@media (min-width: 430px) {
  .our_team {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .our_team {
    grid-template-columns: repeat(4, 1fr);
  }
}
.our_team .team_card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}
.our_team .team_card h2 {
  text-transform: capitalize;
  color: #1e72bc;
}
.our_team .team_card p {
  text-transform: capitalize;
} /*# sourceMappingURL=index.css.map */
