// variables
@import "./variables";

// reset code
@import "./resets";

// all util classes
@import "./utils.scss";

// nav
.nav {
  width: 100%;
  height: 65px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.11);

  @include responsive_max_width;

  @include flex(center, space-between);

  padding: 0 2rem;

  .menuBar {
    display: flex;

    i {
      font-size: 1.4rem;
    }
  }

  .logo {
    width: 110px;
  }

  // for mobile view
  @include md {
    .menuBar {
      display: none;
    }

    .logo {
      width: 140px;
    }
  }

  ul {
    align-items: center;
    gap: 2rem;
    display: none;

    // for mobile view
    @include md {
      display: flex;
    }

    li {
      a {
        text-transform: capitalize;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $primary-color;
        }
      }
    }
    button {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include button($primary-color, #fff);

      &:hover {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}

// mobile toggle nav bar
.mobile_toggle_nav {
  @include flex(start, center);
  background-color: $primary-color;
  position: fixed;
  top: 4rem;
  right: 200%;
  z-index: 999;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;

  // for mobile view
  @include md {
    display: none;
  }

  ul {
    @include flex(center, center, 20px, column);
    margin-top: 3rem;
    li {
      a {
        color: #fff;
      }

      text-transform: capitalize;
    }
    button {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include button($secondary_color, #fff);
    }
  }
}

.toggle {
  right: 0;
}

// hero section
.hero_section {
  width: 100%;
  position: relative;
  @include responsive_max_width;
  flex-direction: column;

  @include md {
    @include flex(center, justify-between);
  }

  background-image: url("../assets/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;

  padding: 0 2rem;

  .left_side {
    width: 100%;
    @include md {
      width: 70%;
    }
    color: #ffff;
    @include flex(start, space-between, 30px, column);

    h2 {
      font-size: 2rem;
      text-transform: capitalize;
      margin-top: 2rem;
    }
    @include md {
      h2 {
        font-size: 3rem;
        text-transform: capitalize;
      }
    }

    p {
      font-size: 0.9rem;
    }

    button {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include button(#fff, #000);

      &:hover {
        background-color: transparent;
        background-color: #000;
        border-color: #000;
        color: #fff;
      }
    }
  }

  .right_side {
    img {
      width: 100%;
      margin-top: 60px;
    }

    @include md {
      img {
        width: 160%;
        margin-top: 100px;
      }
    }
  }
}

// about section
.about_section {
  @include responsive_max_width;
  padding: 0 2rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background: linear-gradient(
      to right,
      $primary-color 0%,
      $secondary_color 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    width: 200px;
    opacity: 40%;
  }

  .flex_first {
    @include flex(center, center, 30px, column);
    @include md {
      @include flex(center, space-between);
    }
    margin-bottom: 2rem;

    .left {
      width: 100%;
      @include md {
        width: 45%;
      }
      text-transform: capitalize;
    }

    .right {
      width: 45%;
      @include flex(center, center);
    }
  }

  .flex_second {
    @include flex(center, center, 30px);
    flex-direction: column-reverse;
    @include md {
      @include flex(center, space-between);
    }
    margin-bottom: 2rem;
    text-transform: capitalize;
    text-align: start;
    @include md {
      text-align: end;
    }
    .right {
      width: 100%;
      @include md {
        width: 45%;
      }

      h2 {
        font-size: 1.6rem;
        font-weight: bold;
        background: linear-gradient(
          to left,
          $primary-color 0%,
          $secondary_color 100%
        );
        margin-bottom: 0.5rem;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .left {
      width: 45%;
      @include flex(center, center);
    }
  }

  .flex_third {
    @include flex(center, center, 30px, column);
    @include md {
      @include flex(center, space-between);
    }
    text-transform: capitalize;

    .left {
      width: 100%;
      @include md {
        width: 45%;
      }
    }

    .right {
      width: 45%;
      @include flex(center, center);
    }
  }
}

// service section
.service_section {
  position: relative;
  width: 100%;
  @include responsive_max_width;
  background-image: url("../assets/bg_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  @include flex(center, center, 80px, column);
  @include md {
    @include flex(center, center, 40px);
  }
  padding: 8rem 2rem;

  // cards
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 3px;
    @include flex(center, center, 30px, column);
    position: relative;
    padding: 4rem 2rem 1rem 2rem;

    img {
      width: 100px;
      position: absolute;
      top: -20%;
      background-color: #fff;
      padding: 0.3rem;
      border-radius: 50%;
      box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.205);
    }

    h2 {
      text-transform: capitalize;
    }

    p {
      text-align: center;
    }

    button {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include button($primary-color, #fff);

      &:hover {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  // layers
  .top_layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
  }
  .bottom_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
  }
}

// feature section
.feature_section {
  width: 100%;
  @include responsive_max_width;
  @include flex(center, center, 50px, column);

  @include md {
    @include flex(start, space-between);
  }
  padding: 0 2rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;

  .left {
    width: 100%;
    @include md {
      width: 65%;
    }
    @include flex(start, flex-start, 4rem, column);
  }

  .flex {
    @include flex(center, center, 40px, column);
    @include sm {
      @include flex(start, space-between);
      gap: 50px;
    }
    @include md {
      @include flex(start, space-between, 80px);
    }

    .flex_left,
    .flex_right {
      @include flex(start, flex-start, 20px);
      border-bottom: 1px solid #83838388;
      padding-bottom: 1rem;

      // i {
      //   // width: 50px;
      //   // height: 50px;
      //   font-size: 2rem;
      //   color: $secondary_color;
      //   padding: 0.4rem;
      //   border: 2px solid $secondary_color;
      //   border-radius: 50%;
      // }

      .icon {
        padding: 20px;
        border: 2px solid $secondary_color;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        i {
          width: 45px;
          font-size: 40px;
          color: $secondary_color;
        }

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
          color: #fff;
        }
      }

      h2 {
        font-size: 1rem;
        text-transform: capitalize;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}

.header_text {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.5rem;

  span {
    color: $primary-color;
  }
}

.divider {
  width: 70px;
  height: 2px;
  background-color: #83838388;
  margin: auto;
  margin-top: 0.7rem;
}

// easy steps
.header_divider {
  .header_text {
    margin-top: 0rem;
    color: #fff;
    font-size: 2rem;
    font-weight: semibold;
  }

  .divider {
    background-color: #fff;
  }
}

.easy_step {
  flex-direction: column;
  @include responsive_max_width;
  margin-bottom: 8rem;

  .easy_step_flex {
    width: 100%;
    @include flex(center, center, 50px, column);
    @include sm {
      @include flex(start, space-between);
      flex-wrap: wrap;
      gap: 30px;
    }
    @include md {
      @include flex(center, space-between);
      width: 80%;
    }
    color: #ffff;
    margin-top: 2rem;

    .easy_card {
      @include flex(center, center, 20px, column);

      i {
        font-size: 2rem;
      }

      h3 {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
}

// table price
.table_price {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 25px;
  padding: 0 2rem;
  @include responsive_max_width;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .price_card {
    border: 1px solid #dddcdc;
    padding: 0.6rem;

    .plan_name1 {
      @include plan_name_button($secondary_color, #fff);
    }

    .plan_name2 {
      @include plan_name_button($primary-color, #fff);
    }

    .plan_price {
      width: 50%;
      margin: auto;
      padding: 1.5rem;
      text-align: center;
      color: $primary-color;
      border-bottom: 1px solid rgb(212, 212, 212);

      h3 {
        font-size: 2rem;
      }
    }

    .plan_body {
      text-align: center;
      padding: 1rem;
      @include flex(center, center, 20px, column);
      margin-top: 1.5rem;

      .btn1 {
        @include button($primary-color, #ffff);
        margin-top: 1rem;
        cursor: pointer;
      }

      .btn2 {
        @include button($secondary_color, #ffff);
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }
}

// contact section
.contact_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive_max_width;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;

  .maps {
    iframe {
      width: 100%;
      height: 450px;
      @include md {
        height: 100%;
      }
    }
  }

  .contact_form {
    background-color: $primary-color;
    padding: 2rem;
    @include md {
      padding: 3rem 5rem;
    }
    color: #fff;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }

    .form_divider {
      width: 70px;
      height: 3px;
      margin-top: 0.3rem;
      background-color: #fff;
    }

    p {
      margin-top: 2rem;
    }

    form {
      width: 100%;
      margin-top: 1rem;

      input {
        @include input;
      }

      textarea {
        @include textarea;
      }

      button {
        @include button($secondary_color, #fff);
        margin-top: 0.8rem;
        cursor: pointer;
      }
    }
  }
}

// footer section
.footer_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: 40px;
  @include responsive_max_width;
  padding: 0 2rem;
  margin-bottom: 2rem;

  .section1 {
    @include flex(start, flex-start, 20px, column);

    img {
      width: 140px;
      cursor: pointer;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .section2 {
    @include flex(start, flex-start, 20px, column);

    span {
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .section3 {
    @include flex(start, flex-start, 40px, column);

    p {
      font-weight: 800;

      i {
        margin-right: 0.4rem;
      }
    }
  }

  .section4 {
    @include flex(start, flex-start, 20px, column);

    .blog_card {
      @include flex(start, flex-start, 10px);

      img {
        width: 80px;
      }

      p {
        font-size: 0.9rem;
        margin-top: 0.4rem;
      }

      span {
        font-weight: 800;
        font-size: 0.9rem;
      }
    }
  }
}

// active class from nav item
.active {
  color: $primary-color;
}

// page header name
.page_header_name {
  width: 100%;
  height: 300px;
  background: url("../assets/slide1.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
  @include responsive_max_width;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 5rem 4rem;
  }
}

// screenshot page
.screenshot {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive_max_width;
  margin-bottom: 8rem;
  margin-top: 4rem;
}

// our team page
.our_team {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: 30px;
  @include responsive_max_width;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem;

  .team_card {
    text-align: center;
    @include flex(center, center, 15px, column);

    h2 {
      text-transform: capitalize;
      color: $primary-color;
    }

    p {
      text-transform: capitalize;
    }
  }
}
